@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* body {
     background-color: #fcfcfc; 
     background-color: rgba(54, 130, 180 , 1); 
} */

body {
    background-color: #fcfcfc;
}

.active {
    color: white;
}

input[type=checkbox]{
    display: none;
   } 

.menulogo {
    display: none;
    font-size: 24px;
    user-select: none;
   }


/***************** Header *****************/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(54, 130, 180 , 1);
    position: fixed;
    width: 100%;
    height: 10vh;
}

header nav a {
    padding-right: 30px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

header .logo {
    width: 9vh;
    height: 9vh;
}

a {
    text-decoration: none;
}

header a:hover {
    color: white;
    font-size: 1.1em;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #3682B4;
    border: 1px solid #3682B4;
    color: white;
  }

/***************** Home *****************/

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: linear-gradient( 130deg, #fcfcfc 45% , #3682B4);
}

.home-text {
    width: 40%;
}

.home-text i {
    color: #3682B4;
    font-size: 1.4em;
    margin-top: 0vh;
    margin-left: 10px;
    transition: 0.3s;
}

.home-text i:hover {
    color: #3682B4;
    font-size: 1.6em;
}

.button-div {
    margin-top: 30px;
}

.button {
    border: 1px solid #3682B4;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    text-decoration: none;
    color: #3682B4;
    font-weight: 600;
    background: linear-gradient(to left, white 50%, #3682B4 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
}

.button:hover {
    color: white;
    background-position: left;
}


.home img {
    width: 40%;
}
/***************** About *****************/
.about-header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-image {
    width: 40%;
    text-align: center;
}

.about-image img {
    width:100%;
    height: 500px;
}

.about-text {
    width: 40%;
}

.about-text h1 {
    color: #3682B4;
}

/***************** Images *****************/

.images {
    height: auto;
    background: linear-gradient( 130deg, #fcfcfc 45% , #3682B4);
}

.images-title {
    text-align: center;
    padding-top: 5vh;
    color: #3682B4;
}

.images-div {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 400px;
    border-radius: 10px;
    box-shadow: rgba(54, 130, 180, 0.3) 0px 7px 29px 0px;
    border: 1px solid rgba(0, 0, 0, 0.068);
  }
  
  div.gallery:hover {
    border: 2px solid #3682B4;
  }
  
  div.gallery img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

.images .button-div {
    padding-bottom: 10px;
}

/***************** Owner *****************/
.owner-header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owner {
    height: 100vh;
    padding-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.owner-image {
    width: 40%;
    text-align: center;
}

.owner-image img {
    width:100%;
    height: 500px;
    border-radius: 25px;
    
}

.owner-text {
    width: 40%;
}

.owner-text i {
    color: #3682B4;
    font-size: 1.3em;
    margin-top: 50px;
}

.owner-text h1 {
    color: #3682B4;
}

/***************** Contact *****************/
.contact {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-left {
    width: 40%;
}

.contact-left  i {
    color: #3682B4;
    font-size: 1.3em;
    margin-top: 50px;
}

.contact-left a {
    text-decoration: none;
}

.contact-left h1 {
    color: #3682B4;
}

.contact-left input {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    color: black;
    margin: 5px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #3682B4;
}

.message {
    height: 80px !important;
}

.submit {
    border: 1px solid #3682B4;
    color: #3682B4;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(to left, white 50%, #3682B4 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
    
}

input[type="submit" i]  {
    color: #3682B4;
}

.submit:hover {
    color: white;
    background-position: left;
}

.contact-right {
    width: 40%;
}

.contact-right iframe {
    height: 600;
    width: 100%;
}

/***************** Footer *****************/

footer {
    height: 15vh;
    background-color: rgba(54, 130, 180 , 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    font-size: 1.4em;
    margin-left: 10px;
    transition: 0.3s;
}

footer a:hover {
    color: white;
    font-size: 1.6em;
}




@media (min-width: 220px) and (max-width: 480px) {

    .responsive {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .home {
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 13vh;
        height: auto;
    }

    .home-text {
        width: 90%;
    }

    .home img {
        width: 80%;
    }


    .about {
        flex-direction: column;
        height: auto;
    }

    .about-image {
        width: 90%;
        padding-bottom: 10px;
        object-fit: fill;
    }

    .about img {
        height: 100%;
    }

    .about-text {
        width: 90%;
        padding-bottom: 10px;
    }

    .images {
        background: transparent;
        height: auto;
    }

    .images-div {
        width: 100%;
    }

    div.gallery {
        float: none;
        width: 100%;
        margin-bottom: 20px;
      }

    

    .owner {
        flex-direction: column;
        height: auto;
        width: 90%;
    }   

    .owner-image {
        width: 100%;
        height: 350px;
        padding: 10px 0px;
        
    }

    .owner img {
        height: 100%;
        border-radius: 20px;
        border: none;
    }

    .owner-text {
        width: 90%;
        padding: 10px 0px;
    }

    .owner-text i {
        margin-top: 25px;
    }

    .contact {
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        padding-top: 30px;
        height: auto;
    }

    .contact-left {
        width: 90%;
        padding-bottom: 10px;
    }

    .contact-right {
        width: 90%;
        height: 35vh;
        padding-bottom: 10px;
    }

    .contact iframe {
        height: 100%;
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

}

@media (min-width: 481px) and (max-width: 600px) {

    .responsive {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .home {
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 10vh;
        height: auto;
    }

    .home-text {
        width: 90%;
    }

    .home img {
        width: 80%;
    }


    .about {
        flex-direction: column;
        height: auto;
    }

    .about-image {
        width: 90%;
        padding-bottom: 10px;
        object-fit: fill;
    }

    .about img {
        height: 100%;
    }

    .about-text {
        width: 80%;
        padding-bottom: 10px;
    }

    .images {
        background: transparent;
        height: auto;
    }

    .images-div {
        width: 100%;
    }

    div.gallery {
        float: none;
        width: 100%;
        margin-bottom: 20px;
      }

    

    .owner {
        flex-direction: column;
        height: auto;
        width: 90%;
    }   

    .owner-image {
        width: 100%;
        height: 350px;
        padding: 10px 0px;
        
    }

    .owner img {
        height: 100%;
        border-radius: 20px;
        border: none;
    }

    .owner-text {
        width: 90%;
        padding: 10px 0px;
    }

    .owner-text i {
        margin-top: 25px;
    }

    .contact {
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        padding-top: 30px;
        height: auto;
    }

    .contact-left {
        width: 90%;
        padding-bottom: 10px;
    }

    .contact-right {
        width: 90%;
        height: 35vh;
        padding-bottom: 10px;
    }

    .contact iframe {
        height: 100%;
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

}

@media (min-width: 600px) and (max-width: 768px){

    .responsive {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .home {
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 20vh;
        height: auto;
    }

    .home-text {
        width: 90%;
    }

    .home img {
        width: 60%;
    }


    .about {
        flex-direction: column;
        height: auto;
    }

    .about-image {
        width: 60%;
        padding-bottom: 10px;
    }

    .about img {
        height: 100%;
    }

    .about-text {
        width: 80%;
        padding-bottom: 10px;
    }

    .images {
        background: transparent;
        height: auto;
        width: 100%;
    }

    .images-div {
        width: 100%;
    }

    div.gallery {
        float: none;
        width: 45%;
        margin-bottom: 10px;
      }

    

    .owner {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding-top: 10px;
    }   

    .owner-image {
        width: 60%;
        padding-bottom: 10px;
    }

    .owner img {
        height: 350px;
        border: none;
        border-radius: 20px ;
    }

    .owner-text {
        width: 90%;
        padding-bottom: 10px;
    }

    .owner-text i {
        margin-top: 25px;
    }

    .contact {
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        padding-top: 30px;
        height: auto;
    }

    .contact-left {
        width: 90%;
        padding-bottom: 10px;
    }

    .contact-right {
        width: 90%;
        height: 35vh;
        padding-bottom: 10px;
    }

    .contact iframe {
        height: 100%;
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

}

@media (min-width:769px) and (max-width: 1100px) {


    .images {
        background: transparent;
        height: auto;
        width: 100%;
    }

    .images-div {
        width: 100%;
    }

    div.gallery {
        float: none;
        width: 45%;
        margin-bottom: 10px;
      }

    

    .owner {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding-top: 10px;
    }   

    .owner-image {
        width: 60%;
        padding-bottom: 10px;
    }

    .owner img {
        height: 350px;
        border: none;
        border-radius: 20px ;
    }

    .owner-text {
        width: 90%;
        padding-bottom: 10px;
    }

    .owner-text i {
        margin-top: 25px;
    }

    .contact {
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        padding-top: 30px;
        height: auto;
    }

    .contact-left {
        width: 90%;
        padding-bottom: 10px;
    }

    .contact-right {
        width: 90%;
        height: 35vh;
        padding-bottom: 10px;
    }

    .contact iframe {
        height: 100%;
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

}




@media (max-width: 768px) {
    nav { 
     display:none;
     position: absolute;
     background-color: #3682B4;
     right: 0;
     left: 0;
     top: 10vh;
     text-align: center;
     padding: 16px 0;
    }

    nav a {
        display: block;
        padding: 10px;
    }

    input[type=checkbox]:checked ~ .header-links{
     display: block;
    }
    .menulogo {
     display: block;
    }
    .dropdown {
     left: 50%;
     top: 30px;
     transform: translateX(35%);
    }
    }